/* 
*	2015 Allobot LLC. 
*	author: Holland Herbert
*
*  the following tutorial was of great help
*  http://css3.bradshawenterprises.com/cfimg/
*/

/* text below slideshow */
.slideshow-controls {
	margin-left: 290px;
	margin-bottom: 40px;
}
.selected {
	background: rgba(0,0,0,0) url('../images/slideshow/dark-dot.png')no-repeat;
	background-position: center;
	background-size: 50%;
}
.notselected {
	background: rgba(0,0,0,0) url('../images/slideshow/light-dot.png')no-repeat;
	background-position: center;
	background-size: 50%;
}
.tag {
	padding-right: 10px;
	cursor: pointer;	
	height:20px;
	width: 20px;
	float: left;
}

/* images within slideshow */
.slideshow {
	position: relative;
	height: 200px;
	width: 400px;
	margin: 0 0 10px 150px;
}
.slideshow-img {
	position: absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	width: 200px;
	height: 200px;
}
.slideshow-text{
	position: absolute;
	left: 200px;
	width: 200px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity: 0;
}
/*
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
*/
.opaque {
	opacity: 1;
}
/*
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
*/
